<ul class="side-nav">
  <li class="heading"><?= __('Actions')?></li>
  <li><?= $this->Html->link(__('New '.$tipus), ['action'=>'add']); ?></li>
  <li><?= $this->Html->link(__('List '.$tipusok), ['action'=>'index']); ?></li>
</ul>